html,
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    background-image: url("round.jpg");
    scroll-behavior: smooth;
}

.container{
    width: 80%;
    position: relative;
    margin: auto;
}

header {
    padding: 1rem;
    background-color: rgba(255, 254, 224, 0.7);

}

.menu_item {
    background-color: #ffffff;
    color: #000000;
    padding: 1rem 2rem;
    margin: 0.1rem;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

.button-contact{
    text-align: left;
}

.main_title{
    font-size: 30px;
    text-align: center;
}
.main_text{
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 30px;
    width: 80%;
}
.background_image{
    align-content: center;
}

.main_img {
  display: block;
  margin: auto;
  width: 80%;
}
.float_right{
    float: right;
}

.displayRow{
    display: flex;
    width: 100%;
}

.actionTutorial{
    display: block;
    margin: auto;
    width: 100%;
}

.figure_caption{
    font-style: italic;
    font-size: 12px;
}

.action{
    width: 25%;
    padding: 0.5rem 0.5rem;

}
.winLose{
    width: 50%;
    padding: 0.5rem 0.5rem;

}

.actionTile{
    text-align: center;
}

.contact{
    width: 40%;
    padding: 0.5rem 0.5rem;
}
.map{
    width: 60%;
    padding: 0.5rem 0.5rem;
}
