<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet">
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <script src="../static/main.js" defer></script>
    <title>html learning</title>
</head>

<body>
    <div class = "container">
        <header>
            <nav>
                <a class = "menu_item float_right" href="/contact/">About us</a>
                <a class = "menu_item float_right" href="/products/">How to play</a>
                <a class = "menu_item float_right" href="/main/" >Play game</a>
            </nav>
        </header>

        <main>
            <h1>Contact us</h1>
            <div class = "displayRow">
                <div class = "contact"> Make by HA HUNG THINH<br/>
                    <a href="https://github.com/hahungthinh1202/Software-1-project">Project github link</a>
                </div>
                <div class = "map">
                    <img class = "actionTutorial" src="../static/img/map.webp" alt="map">
                </div>
            </div>

        </main>

    </div>
</body>
</html>