<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            canvas {
                border:1px solid #d3d3d3;
                background-color: #f1f1f1;
                background-image: url("https://img.freepik.com/premium-photo/world-map-blue-grid-screen_633872-2655.jpg?w=996");
            }
        </style>
    </head>
    <body onload="startGame()">
        <script>

            var myGamePiece;

            function startGame() {
                myGameArea.start();
                myGamePiece = new Component(10, 10, "red", 20, 120);
            }

            var myGameArea = {
                canvas : document.createElement("canvas"),
                start : function() {
                    this.canvas.width = 480;
                    this.canvas.height = 270;
                    this.context = this.canvas.getContext("2d");
                    document.body.insertBefore(this.canvas, document.body.childNodes[0]);
                }
            }

            function Component(width, height, color, x, y) {
                this.width = width;
                this.height = height;
                this.x = x;
                this.y = y;
                ctx = myGameArea.context;
                ctx.fillStyle = color;
                ctx.fillRect(this.x, this.y, this.width, this.height);
            }

        </script>

        <p>We have added a component to our game, a red square !</p>
    </body>
</html>
