<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet">
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <script src="../static/main.js" defer></script>
    <title>html learning</title>
</head>

<body>
    <div class = "container">
        <header>
            <nav>
                <a class = "menu_item float_right" href="/contact/">About us</a>
                <a class = "menu_item float_right" href="/products/">How to play</a>
                <a class = "menu_item float_right" href="/main/" >Play game</a>
            </nav>
        </header>

        <main>
            <img class ="main_img" src="../static/img/howtoplayMain.png" alt="feature cute mug item">
            <p class = "main_text">Several virulent diseases have broken out simultaneously all over the world!
                The players are disease-fighting specialists whose mission is to treat disease hotspots while
                researching cures for each of four plagues before they get out of hand.<br><br>
                Each turn, current player must do 4 actions. Select any combinations of the available actions below.
            </p>
            <div class = "displayRow">
                <div class = "action">
                    <h2 class ="actionTile"> MOVE</h2>
                    <img class = "actionTutorial" src = "../static/img/moveTutorial.png" alt="product image 1">
                    <p>Location icon only display in the place that you can move to. Click on that icon to move there.</p>
                </div>
                <div class = "action">
                    <h2 class ="actionTile">TREAT</h2>
                    <img class = "actionTutorial" src = "../static/img/cureTutorial.png" alt="product image 2">
                    <p>Treat button is available when you are in a city that have 1 or more disease cube. Click on TREAT button will remove 1 disease cube from the city you are in.</p>

                </div>
                <div class = "action">
                    <h2 class ="actionTile"> BUILD</h2>
                    <img class = "actionTutorial" src = "../static/img/buildTutorial.png" alt="product image 3">
                    <p>Build button is available when you have City card that matches the city you are in. Click on BUILD button build a research center here.</p>
                </div>
                <div class = "action">
                    <h2 class ="actionTile"> CURE</h2>
                    <img class = "actionTutorial" src = "../static/img/treatTutorial.png" alt="product image 4">
                    <p>Cure action is available if you are located at any research station AND have at least 4 City cards of the same color. Click on CURE button to discard those card and discover the correspond vaccine color.</p>
                </div>

            </div>
            <div class = "displayRow">
                <div class = "winLose">
                    <h2 class ="actionTile">WIN CONDITION</h2>
                    <img class = "actionTutorial" src = "../static/img/winTutorial.png" alt="product image 5">
                    <p>Players collectively win the game immediately when the cures to all 4 diseases are discovered.</p>
                </div>
                <div class = "winLose">
                    <h2 class ="actionTile">LOSE CONDITION</h2>
                    <img class = "actionTutorial" src = "../static/img/loseTutorial.png" alt="product image 6">
                    <p>The game immediately ends in defeat for all players if The outbreaks marker reaches last space of the Outbreaks track</p>
                </div>
            </div>



        </main>

    </div>
</body>
</html>